Source: edict
Section: gui
Maintainer: Alexander Kerner <lunohod@openinkpot.org>
XCS-Cross-Host-Build-Depends: debhelper (>> 2.0.0), autoconf, automake, libtool, pkg-config, libedje-bin, oi-help-compiler
XCS-Cross-Build-Depends: libevas-dev, libecore-dev, libedje-dev, libkeys-dev, libeoi-dev (>= 0.3.1), libpicodict-dev, liblops-dev
Priority: optional
Standards-Version: 3.6.2

Package: edict
Architecture: any
Depends: ${shlibs:Depends}
Description: Dictionary for e-Ink devices 
 edict is a dictionary designed to be usable on devices with limited abount of
 keys and slow screen refresh.

Package: edict-dbg
Architecture: any
Depends: ${shlibs:Depends}
Section: debug
Description: Dictionary for e-Ink devices -- debugging symbols
 edict is a dictionary designed to be usable on devices with limited abount of
 keys and slow screen refresh.
 .
 This package contains debugging symbols.

Package: edict-settings-n516
Architecture: all
Description: Dictionary for e-Ink devices -- N516 keymapping
 edict is a dictionary designed to be usable on devices with limited abount of
 keys and slow screen refresh.
 .
 This package contains keymapping configuration file for Hanvon N516.
